<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">

        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input type="password" name="password" value="<%= @password %>">
          <%= link_to("パスワードを忘れましたか？", "/email") %>
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
    　<p class="sample">サンプル</p>
      <p class="sample">メールアドレス：sakaki00123@gmail.com</p>
      <p class="sample">パスワード：sakaki00123</p>
  </div>
</div>
